$base_px_font_size: 16;
$base_font_size: $base_px_font_size * 1px;
$font_serif: 'Roboto', Arial, sans-serif;
$base_font_family: $font_serif;

$sm: 'screen and (min-width: 28em)';
$md: 'screen and (min-width: 48em)';
$large: 'screen and (min-width: 64em)';
$xl: 'screen and (min-width: 75em)';

// colors
$palettes: (
  'primary': #febc14,
  'dark': #222222
);

$light-palettes: (
  'white': #fff
);

@function palette($color) {
  @if map-has-key($palettes, $color) {
    @return map-get($palettes, $color);
  } @else if map-has-key($light-palettes, $color) {
    @return map-get($light-palettes, $color);
  } @else {
    @warn "key `#{$color}` was not found. Falling back to #000";
    @return #000;
  }
}

$primary: palette('primary');
$dark: palette('dark');
